%text-center {
    text-align: center;
}

%text-right {
    text-align: right;
}

%strippedBtn {
    border: none;
    background: none;
}

%displayBlock {
    display: block;
}

%flex-grow1 {
    flex-grow: 1;
}